.navbar-nav,
.navbar-toggler,
.navbar {
  color: whitesmoke;
}

#navbar-logo {
  width: 2.9em;
  height: 2.9em;
  margin-top: -0.3em;
  margin-bottom: -0.2em;
}

.navbar {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
}

.navbar-toggler {
  border-color: #2e2f33;
}

.navbar-toggler-icon {
  color: whitesmoke;
}

.navbar-nav li a {
  color: whitesmoke;
}

.navbar-nav li a:hover {
  color: var(--custom-blue);
}

.navbar-brand {
  color: var(--gray-100);
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.ingr-icon {
  color: var(--custom-red);
  padding-left: 0.2em;
}

.rcp-icon {
  color: var(--custom-green);
  padding-left: 0.1em;
}

.inv-icon {
  color: var(--custom-blue);
  padding-left: 0.1em;
}

.user-icon {
  color: var(--custom-orange);
  padding-left: 0.15em;
}

.bg-icon-circle {
  background: var(--gray-999);
  color: white;
  border-radius: 50%;
  padding: 0.2em;
  line-height: initial !important;
  height: 1.55em;
  width: 1.6em;
  display: inline-block;
  margin-right: 0.3em;
  margin-left: 1em;
}

.navbar-toggler {
  box-shadow: none;
}
