<div class="container my-4 px-0">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="cover-img">
        <img src="assets/images/cover1.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Save Time</h3>
        <p>Don't search for a recipe, we'll find it for you.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="cover-img">
        <img src="assets/images/cover2.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Gain Experience</h3>
        <p>Work your way up the culinary ladder to reach S-Rank recipes.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="cover-img">
        <img src="assets/images/cover3.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Show Off</h3>
        <p>Impress your dining companions with your new skills.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="my-4 mx-3 justify-content-around row">
    <div class="card my-2 col-sm-3">
      <img class="card-img-top" src="assets/images/card-red.jpg" alt="Card image cap">
      <div class="card-body d-flex flex-column justify-content-between">
        <h5 class="card-title">Farm</h5>
        <p class="card-text">Go on a journey and explore the world in search of unique ingredients.</p>
        <a routerLink="ingredients" class="btn btn-danger">Farm</a>
      </div>
    </div>
    <div class="card my-2 col-sm-3">
      <img class="card-img-top" src="assets/images/card-green.jpg" alt=" Card image cap ">
      <div class="card-body d-flex flex-column justify-content-between">
        <h5 class="card-title">Craft</h5>
        <p class="card-text">Seek advice from our master craftsmen to find the inspiration you need.</p>
        <a routerLink="recipes" class="btn btn-success">Craft</a>
      </div>
    </div>
    <div class="card my-2 col-sm-3 ">
      <img class="card-img-top " src="assets/images/card-blue.jpg" alt="Card image cap ">
      <div class="card-body d-flex flex-column justify-content-between ">
        <h5 class="card-title ">Organize</h5>
        <p class="card-text ">Keep an eye on your inventory to make sure you are not missing valuable resources.</p>
        <a routerLink="inventory" class="btn btn-primary">Organize</a>
      </div>
    </div>
  </div>
</div>
