.container {
	background-color: #191c21;
	width: 95%;
	border: 1px solid;
	border-image-source: linear-gradient(0deg, #191c21, #000000);
	border-image-slice: 1;
}

:focus {
	outline: 0 !important;
}

img {
	display: block;
	max-height: 12em;
	overflow: hidden;
	object-fit: cover;
	width: 100%;
}

.cover-img {
	opacity: 0.5;
	filter: blur(2px);
}

.carousel-caption > p,
h3 {
	text-shadow: 0px 1px 3px #000000de;
}

.card {
	color: whitesmoke;
	background-color: var(--gray-850);
	padding: 0;
	min-width: 10em;
	border: 1px solid;
	border-image-source: linear-gradient(0deg, #191c21, #0c0d0f);
	border-image-slice: 1;
	box-shadow: 0px 2px 7px -4px rgba(0, 0, 0, 0.8);
}

.card-img-top {
	height: 5em;
	border-radius: 0;
	box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.3);
}

a {
	width: 80%;
	align-self: center;
}

p,
h5 {
	text-align: center;
}
