<div class="container" *ngIf="true">
  <h4 class="text-left m-2">Sign Up</h4>
  <div>
    <form class="m-3 pt-4" [formGroup]="signupForm" (ngSubmit)="signUp()">
      <div class="form-group mb-3 row">
        <label class="col-form-label col-sm-3" for="regEmail">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="regEmail" formControlName="email" placeholder="Email">
        </div>
      </div>
      <div class="form-group mb-3 row">
        <label class="col-form-label col-sm-3" for="regPass">Password</label>
        <div class="col-sm-9">
          <ng-template #passtooltip>
            Password<br>must contain at least:
            <ul>
              <li><b>6</b> Characters</li>
              <li><b>1</b> Uppercase letter</li>
              <li><b>1</b> Number</li>
              <li><b>1</b> Special character</li>
            </ul>
          </ng-template>
          <input type="password" class="form-control" [ngbTooltip]="passtooltip" tooltipClass="formTooltip" triggers="manual" #p="ngbTooltip" id="regPass" formControlName="password" placeholder="Password" (input)="displayTooltip() ? p.open() : p.close()">
        </div>
      </div>
      <div class="form-group mb-4 row">
        <label class="col-form-label col-sm-3" for="regPassConf">Confirmation</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="regPassConf" formControlName="pwConfirm" placeholder="Confirmation">
          <label class="text-danger" *ngIf="signupForm.hasError('notSame')">
            Password does not match
          </label>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-dark" [disabled]="!signupForm.valid">Create account</button>
      </div>
    </form>
  </div>
</div>
