<div class="container p-3" *ngIf="true">
	<h5 class="text-center">Choose your username</h5>
	<form class="m-2 pt-4" [formGroup]="usernameForm" (ngSubmit)="saveName()">
		<div class="form-group row">
			<div class="col">
				<ng-template #usertooltip>
					Username:
					<ul>
						<li>
							<b>3-20</b>
							characters long
						</li>
						<li>
							<b>Only</b>
							letters and numbers
						</li>
					</ul>
				</ng-template>
				<input
					type="text"
					class="form-control"
					[ngbTooltip]="usertooltip"
					tooltipClass="formTooltip"
					triggers="manual"
					#u="ngbTooltip"
					id="regUser"
					formControlName="username"
					placeholder="Username"
					(input)="validName() ? u.close() : u.open()"
				/>
				<label class="text-danger" *ngIf="usernameForm.get('username').hasError('userExists')">
					Username not available
				</label>
			</div>
		</div>
		<div class="text-center mt-4">
			<button type="submit" class="btn btn-primary" [disabled]="!username.valid">Confirm</button>
		</div>
	</form>
</div>
