<form id="ingr-search">
  <div class="input-group bg-secondary my-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Ingredients</span>
    </div>
    <input
      class="form-control "
      type="text"
      placeholder="Ingredients..."
      name="Ingredients Search"
      id="ingr-search"
      [(ngModel)]="selectedIngr"
      [ngbTypeahead]="search"
      [editable]='false'
    />
  </div>
</form>
<h2 class="text-center">&#11088; Collected loots &#11088;</h2>
<p>Selected Ingredient: {{ selectedIngr }}</p>
