<div class="container my-3">
  <div class="input-group my-3 shadow-sm">
    <div class="input-group-prepend">
      <span class="input-group-text">Ingredients</span>
    </div>
    <input class="form-control dropdown" type="text" name="Ingredients Search" id="ingr-search" placeholder="Ingredients..."
      [inputFormatter]="formatter"
      [resultFormatter]="formatter"
      [(ngModel)]="selectedIngr"
      [ngbTypeahead]="search"
      [editable]='false'/>
    <input class="form-control" type="number" name="ingrquantity" min="1" max="999999999" id="quantityinput" placeholder="1"
      [(ngModel)]="selectedIngrValue">
    <div class="input-group-append justify-content-between">
      <div [ngSwitch]="selectedIngr?.type">
        <span class="input-group-text" id="input-units" *ngSwitchCase="1">Unit</span>
        <span class="input-group-text" id="input-units" *ngSwitchCase="2">Kg</span>
        <span class="input-group-text" id="input-units" *ngSwitchCase="3">L</span>
        <span class="input-group-text" id="input-units" *ngSwitchDefault hidden></span>
      </div>
      <button type="button" class="btn btn-dark" (click)='newIngr()' [disabled]='!selectedIngr'>Add Item</button>
    </div>
  </div>
  <div id="ingr-list" class="container shadow-sm py-2" *ngIf="newIngredients?.length > 0">
    <h4 class="text-left m-2" id="drops-title">Collected Drops</h4>
    <div class="container my-3">
      <table class="table table-striped table-dark">
        <thead>
        <tr>
          <th scope="col">Ingredient</th>
          <th scope="col">Quantity</th>
          <th scope="col">Unit</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingredient of newIngredients">
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.quantity }}</td>
            <td [ngSwitch]="ingredient.type">
              <span *ngSwitchCase="1">Unit</span>
              <span *ngSwitchCase="2">Kg</span>
              <span *ngSwitchCase="3">L</span>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex">
      <hr class="my-auto flex-grow-1">
      <div class="px-4 flex-grow-2">
        <button type="button" class="btn shadow-sm btn-dark" (click)='addIngredients()'>Add List</button>
      </div>
      <hr class="my-auto flex-grow-1">
    </div>
  </div>
</div>

