
:host {
  display: block;
  color: whitesmoke;
}

.container {
  background-color: var(--gray-900);
  border: 1px solid;
  border-image-source: linear-gradient(0deg, #191c21, #000000);
  border-image-slice: 1;
}

#quantityinput, #ingr-search {
  color: #c2c2c2;
  background-color: #23272a;
  border-color: #23272a;
  border-radius: 0rem;
}

.input-group-text {
  background-color: var(--gray-999) !important;
  border: none !important;
}

.dropdown {
  color: #c2c2c2;
  background-color: #23272a;
}

#input-units {
  border-radius: 0;
  border: none;
  border-color: var(--gray-999);
}

.input-group-append> button {
  background-color: var(--gray-999);
  color: var(--gray-300);
}

.input-group-append> button:disabled{
  background-color: #23272a;
  color: #464646;
}

.btn-dark:disabled {
  background-color: #23272a;
  color: #464646;
}

.input-group-text {
  color: #c2c2c2;
  background-color: var(--gray-999) !important;
  border: none !important;
}

#ingr-list button {
  background-color: var(--gray-999);
  border: 1px solid var(--gray-850);
}

table {
  color: whitesmoke;
  border-bottom: 1px solid var(--custom-red);
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
}

.table thead > tr > th { border-bottom: none;
border-top: 1px; }

th {
  font-weight: normal;
  color: var(--custom-red);
  background-color: #0b0c0f;
  border-bottom: 1px solid var(--custom-red);
}

td {
  border-bottom: 1px solid #dc354630;
}

tr {
  background-color: #15191e;
}

tr:nth-child(even) {
  background-color: #0b0c0f;
}

.table-hover tbody tr:hover td {
  background-color: #1c2127;
  color: whitesmoke;
}
