.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

#app-body {
  flex: 1;
}

#app-footer {
  background-color: #191c21;
  color: whitesmoke;
  height: 3em;
  width: 100%;
  text-align: center;
}

#git-icon {
  padding-right: 0.1em;
  font-size: 1.1em;
  color: var(--custom-blue);
}
