<div class="app">
  <app-header></app-header>
  <div id="app-body">
    <router-outlet *ngIf="!(isLoading); else loader"></router-outlet>
    <ng-template #loader>
      <app-loading></app-loading>
    </ng-template>
  </div>
  <div id="app-footer">
    <div>
      <small class="text-muted">© {{ currentYear }} Copyright:</small>
      <a href="https://github.com/ordy/cookingdom">
        <fa-icon class="ml-1" id="git-icon" [icon]="gitIcon"></fa-icon>
        <small>ordy</small>
      </a>
    </div>
  </div>
</div>