:host {
  display: block;
  background-color: #2e2f33;
  color: whitesmoke;
  position: relative;
}

.navbar-nav, .navbar-toggler, .navbar {
  background-color: #000000;
  color: whitesmoke;
}

.navbar {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-toggler {
  border-color: #2e2f33;
}

.navbar-nav li a{
  color: whitesmoke;
  padding-left: 1rem;
}

.navbar-brand {
  color: #f3962c;
  background-color: #191c21;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
}

.app-header {
  padding: 0;
}

.app-body {
  position: relative;
  min-height: 100vh;
  overflow: auto;
  margin-bottom: -2.5rem;
  padding-top: 5rem;
  padding-bottom: 3rem;

}

#app-footer {
  position: relative;
  bottom: 0;
  background-color: #191c21;
  color: whitesmoke;
  width: 100%;
  height: 2.5rem;
  padding-top: 0.4rem;
}

#github-logo {
  margin-bottom: 3px;
  padding-right: 2px;
  height: 1em;
  filter: invert(0.5) sepia(1) saturate(50) hue-rotate(199deg);
}

