<div class="container py-2">
  <h4 class="text-left m-2">Login</h4>
  <form class="m-2 pt-4">
    <div class="form-group">
      <label for="logEmail">Email</label>
      <input type="email" class="form-control" id="logEmail" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="logPassword">Password</label>
      <input type="password" class="form-control" id="logPassword">
    </div>
    <div class="form-group form-check">
      <div class="custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="logCheckbox">
        <label class="custom-control-label" for="logCheckbox">Keep me logged in</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</div>
