:host {
  display: block;
  color: whitesmoke;
}

input {
  color: #c2c2c2;
  outline: none !important;
  background-color: #23272a;
  border-color: #23272a;
  border-radius: 0rem;
}

input:focus {
  color: #c2c2c2;
  outline: none !important;
  box-shadow: 0px 3px rgb(255, 145, 0);
  background-color: #23272a;
  border-color: #23272a;
  border-radius: 0rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-radius: 0rem;
  -webkit-text-fill-color: #c2c2c2;
  transition: background-color 5000s ease-in-out 0s;
}


input[type="radio"] {
  border-radius: 0;
}

input[type="checkbox"] + label::before {
  border-radius: 0;
  background-color: #23272a;
  border-color: #141618;
}

input[type="checkbox"]:checked + label::before {
  border-radius: 0;
  background-color: rgb(255, 145, 0);
  border-color: rgb(255, 145, 0);
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0px 0px 4px 1px rgba(255, 145, 0, 0.7) !important;
}

.container {
  background-color: #191c21;
  width: 25em;
  border: 1px solid;
  border-image-source: linear-gradient(0deg, #191c21, #000000);
  border-image-slice: 1;
}

.custom-checkbox {
  margin-left: 5px;
}
