:host {
	color: whitesmoke;
}

pre {
	color: whitesmoke;
}

input {
	color: #c2c2c2;
	outline: none !important;
	background-color: #1f2327;
	border-color: #23272a;
}

input:focus {
	color: #c2c2c2;
	outline: none !important;
	box-shadow: 0px 3px var(--custom-blue);
	background-color: var(--gray-800);
	border-color: #23272a;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: #c2c2c2;
	transition: background-color 5000s ease-in-out 0s;
}

.googlelink {
	background-color: var(--custom-red);
	border-color: var(--custom-red);
}

.fblink {
	background-color: var(--custom-blue);
	border-color: var(--custom-blue);
}

.form-check > a {
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

.form-check-input {
	width: 1.2em;
	height: 1.2em;
}

a > fa-icon {
	font-size: 2em;
}
radius span {
	display: block;
}

label.custom-control-label {
	padding-top: 0.12em;
}

.custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: 0px 0px 4px 1px rgba(0, 183, 255, 0.7) !important;
}

.container {
	background-color: #191c21;
	width: 25em;
	border: 1px solid;
	margin-top: 5em;
	border-image-source: linear-gradient(0deg, #191c21, #000000);
	border-image-slice: 1;
}

button:hover {
	border-color: var(--gray-850);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.65);
}

hr {
	margin-right: 2%;
	margin-left: 2%;
	border-top: 1px solid var(--gray-850);
}
