<div class="m-2">
	<h5 class="py-3">{{ rcpName?.rcpname }}</h5>
	<p class="mb-1">Duration: {{ rcpName?.duration }} Minutes</p>
	<p class="pb-3">Difficulty: {{ rcpName?.difficulty }}-Rank</p>
	<div class="row pb-4">
		<div class="col mb-3">
			<img id="rcp-image" alt="{{ rcpName?.rcpname }} image" class="img-thumbnail rounded" alt="recipe image" />
		</div>
		<div class="col mb-3" id="flex2">
			<h5 class="pb-3">Ingredients</h5>
			<ul class="mb-5">
				<li class="" *ngFor="let ingr of displayRecipe">{{ ingr?.quantity }}{{ ingr?.type }} {{ ingr?.name }}</li>
			</ul>
			<h5 class="pb-3 mt-2">Instructions</h5>
			<ol type="1">
				<li *ngFor="let steps of rcpName?.instructions">{{ steps }}</li>
			</ol>
		</div>
	</div>
</div>
