:host {
  display: block;
  color: whitesmoke;
}

#rec-search {
  color: #c2c2c2;
  background-color: #23272a;
  border-color: #23272a;
}

.input-group-text {
  color: #c2c2c2;
  background-color: #191c21;
  border-color: #23272a;
}

#dropdownBasic1 {
  background-color: #191c21;
  border-color: #23272a;
  color: whitesmoke;
}

.dropdown-menu {
  background-color: #23272a;
  color: whitesmoke;

}

.dropdown-menu button {
  color: whitesmoke;
}

.dropdown-menu :hover {
  background-color: #191c21;
  color: whitesmoke;
}

