<div class="container mt-5 py-2">
  <h4 class="text-left m-2" id="drops-title">Cooking Book</h4>
  <div class="search-container pb-2">
    <span class="box-left pr-2 h5">Find recipes having </span>
    <div class="box-center btn-group btn-group-toggle" ngbRadioGroup id="dropdown1" [(ngModel)]="offsetValue">
      <label ngbButtonLabel class="btn btn-outline-warning">
          <input ngbButton type="radio" [value]="0">No
        </label>
      <label ngbButtonLabel class="btn btn-outline-warning">
          <input ngbButton type="radio" [value]="1">1
        </label>
      <label ngbButtonLabel class="btn btn-outline-warning">
          <input ngbButton type="radio" [value]="2">2
        </label>
      <label ngbButtonLabel class="btn btn-outline-warning">
          <input ngbButton type="radio" [value]="3">3
        </label>
    </div>
    <span i18n class="box-right pl-2 h5">
        {offsetValue, plural, =0 {missing ingredient} =1 {or no missing ingredient} other {or less missing ingredients}}
      </span>
  </div>
  <div class="text-center mb-3 pt-3">
    <button class="btn btn-outline-warning col-auto" type="submit" id="rcp-search-btn" (click)='searchRecipes()'>Search</button>
  </div>
</div>
<div *ngIf="displayList" class="container py-2 mt-4">
  <div class="d-flex align-items-center justify-content-between">
    <h4 class="text-left m-2" id="drops-title">List</h4>
    <button *ngIf="showListToggle" class="btn btn-outline-warning" type="button" (click)="toggleList()">Show List</button>
  </div>
  <div class="m-2" *ngIf="!showListToggle">
    <tr *ngFor="let recipe of recipeList">
      <td>{{recipe}}</td>
      <td class="btn btn-outline-warning" (click)="showRecipe(recipe)">Display</td>
    </tr>
  </div>
</div>
<div *ngIf="displayRec" class="container pt-2 my-4">
  <h4 class="text-left m-2" id="drops-title">Recipe</h4>
  <app-recipe [rcpName]="recipeParent"></app-recipe>
</div>
