<div class="container py-2">
  <h4 class="text-left m-2" id="drops-title">Cooking Book</h4>
  <div class="search-container pb-2">
      <span class="box-left pr-2 h5">Find recipes having </span>
      <div class="box-center btn-group btn-group-toggle" ngbRadioGroup id="dropdown1" [(ngModel)]="offsetValue">
        <label ngbButtonLabel class="btn btn-outline-warning">
          <input ngbButton type="radio" [value]="0">No
        </label>
        <label ngbButtonLabel class="btn btn-outline-warning">
          <input ngbButton type="radio" value="1">1
        </label>
        <label ngbButtonLabel class="btn btn-outline-warning">
          <input ngbButton type="radio" [value]="2">2
        </label>
        <label ngbButtonLabel class="btn btn-outline-warning">
          <input ngbButton type="radio" [value]="3">3
        </label>
      </div>
      <span i18n class="box-right pl-2 h5">
        {offsetValue, plural, =0 {missing ingredient} =1 {or no missing ingredient} other {or less missing ingredients}}
      </span>
  </div>
  <div class="text-center mb-3 pt-3">
    <button class="btn btn-outline-warning col-auto" type="submit" id="rcp-search-btn">Search</button>
  </div>
</div>
<div class="container py-2 mt-4">


  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>List</a>
      <ng-template ngbNavContent>
        <h4 class="text-left m-2" id="drops-title">Recipes</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Details</a>
      <ng-template ngbNavContent>
        RECIPE DESCRIPTIONS
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
  <app-recipe></app-recipe>
