<!-- <div class="container my-3">
  <li *ngFor="let ingredient of myIngredients">{{ ingredient.value }} of {{ ingredient.name }}</li>
</div>
 -->

<div class="container my-3">
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">Ingredient</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ingredient of myIngredients">
      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.value }}</td>
      <td [ngSwitch]="ingredient.type">
        <span *ngSwitchCase="1">Unit</span>
        <span *ngSwitchCase="2">Kg</span>
        <span *ngSwitchCase="3">L</span>
    </tr>
    </tbody>
  </table>
</div>
